/* Base rules */

	body {
		font-size:62.5%;
		line-height:1;
		margin:0;
		padding:0;
	}
	ol, ul {
		list-style-type:none;
		padding:0;
		margin:0;
	}
	a {
		text-decoration:none;
	}
	h1, h2, h3, p {padding:0; margin:0;}
	#overlay {
		position:absolute;
		z-index:3000000;
		background:#000 url(../images/loading.gif) 50% 50% no-repeat;
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
    #container {
        display:relative;
    }
	#pages li .meta {
		display:block;
		direction:ltr;
	}
	#pages li .meta span {
		display:block;
	}
	#pages li .site {
		direction:ltr;
	}
    .nav {
        margin-top:0.3em;
        margin-bottom:1.8em;
    }
    .nav li {
        display:inline-block;
        font-size:1.3em;
        font-weight:bold;
        letter-spacing:-0.03em;
        color:#777;
    }
    .nav li.homepage a {
        font-variant:small-caps;
        color:#444;
        border-right:1px solid #888;
        padding-right:0.5em;
    }
    .nav li a {
        color:#777;
        padding:0.2em 0.2em 0.2em 0;
        margin-right:0.5em;
        display:block;
        font-variant:small-caps;
        text-transform:lowercase;
    }
    .nav li a:hover {
        color:#000;
    }

    #homepage p {
        font-size:2em;
        line-height:1.3;
        margin-bottom:1em;
    }
    #homepage p a {
        color:#c00;
    }
    #homepage p a:hover {
        background-color:#c00;
        color:#fff;
    }

/* Dashboard layout */

	#dashboard #container {
		/*display:none;*/
	}
	#dashboard #map {
		width:66%;
		height:80%;
	}
	#dashboard #pages {
		width:34%;
		height:100%;
		overflow:auto;
		position:absolute;
		top:0;
		right:0;
	}
	#dashboard #pages #refresh {
		position:absolute;
		right:6px;
		top:10px;
		cursor:pointer;
	}
	#dashboard #people {
		position:absolute;
		left:0;
		bottom:0;
		width:26%;
		height:20%;
		overflow:hidden;
	}
	#dashboard #people h2 {
		position:fixed;
		bottom:20%;
		width:26%;
		margin-bottom:-1px;
		background-color: #ccc;
		color:#444;
		z-index:30000;
		font-weight:normal;
	}
	#dashboard #people h2 span {
		padding:5px;
		display:inline-block;
	}
	#dashboard #people ol,
	#dashboard #people ol li {
		height:100%;
	}
	#dashboard #people img {
		width:inherit;
		height:93%;
	}
	#dashboard #stats {
		position:absolute;
		left:26%;
		bottom:0;
		width:40%;
		height:20%;
		overflow:hidden;
	}
	#dashboard #stats ul {
		padding:10px 2% 10px 2%;
	}
	#dashboard #stats ul li {
		display:block;
		float:left;
		width:48%;
		padding:1%;
	}
    
/* Aggregation layout */
    .aggregation #container {
        width:75em;
        padding:0 0 3em 3em;
        position:relative;
    }