body {
	background-color: #000;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
}
a {
	color:#fff;
	text-decoration:none;
}
#overlay {
	position:absolute;
	z-index:3000000;
	background:#000 url(../images/loading.gif) 50% 50% no-repeat;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
#pages #status {
	padding:10px 7% 10px 7%;
	background-color: #0d1d29;
}
#pages .ui-progressbar {
	height:2px;
}
#pages .ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; }
#pages .ui-widget-header {
	background:#3c6687;
	border:none;
}
#pages .ui-widget-content {
	background:#1e405c;
	border:none;
}

#pages li {
	/*background-color: #030b11;*/
	background-color: #030b11;
	padding:7% 7% 0 7%;
	display:none;
}
#pages li.new {
	/*background-color: #08314b;*/
}
#pages li:hover {
	/*background-color: #08314b;*/
}
#pages li h2 {
	font-size:1.9em;
	line-height:1.2;
	padding:0;
	opacity:0.8;
	margin:0 0 0.4em 0;
}
#pages li h2 a:hover {
	text-shadow:0 0 2px white;
}
#pages li p {
	font-size:1.3em;
	font-weight:normal;
	line-height:1.4em;
	padding:0;
	margin:0.2em 0 0 0;
}
#pages li .meta {
	margin-top:0.6em;
}
#pages li .meta span {
	font-weight:normal;
	font-size:1em;
	color:#63676b;
	/*border-bottom:1px dotted #0B486D;*/
}
#pages li .meta span a {
	/*background-color:#333333;*/
	color:#959a94;
	border-bottom:1px dotted #777777;
}
#pages li .meta span a:hover {
	color:#fff;
	border-bottom:1px dotted #fff;
}
#pages li .site {
	font-weight:normal;
	color:#63676b;
	margin-top:0.6em;
}
#stats {
	background-color:#000;
}
#stats ol > li {
	display:block;
	float:left;
	border-left:1px solid #121212;
	height:100%;
	width:32%;
	padding:5px;
}
#stats ol li:first {
	border-left:none;
}
#stats h3 {
	font-size:1.4em;
	font-weight: normal;
	margin-bottom:0.6em;
	margin-top:0.2em;
}
#stats ol li img {
	display:block;
	float:left;
	margin-right:10px;
}
#stats ul li a {
	font-size: 1.2em;
	line-height:1.4em;
	color:#959a94;
	border-bottom:1px dotted #777777;
}

/* Cloudmade */
.wml-text-background {
	background:#08314b !important;
}
.wml-container,
.wml-container a {
	color:#ccc !important;
}